.hotel-view {
  flex: 1;
  background-color: var(--color-white);
}

.gallery {
  display: flex;

  &__img {
    width: 100%;
    display: block;
  }
}


.overview {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: 46.87em) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }

    @media only screen and (max-width: 30em) {
      font-size: 1rem;
    }
  }

  &__stars {
    //flexbox trick that takes up space needed and margin is calculated.
    margin-right: auto;
    display: flex;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;
  }

  &__rating {
    align-items: center;
    align-self: stretch;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    padding: 0 2.25rem;

    @media only screen and (max-width: 46.87em) {
      padding: 0 1.5rem;
    }

    @media only screen and (max-width: 30em) {
      padding: 0 .5rem;
    }
  }

  &__rating-count{
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: 46.87em) {
      font-size: .5rem;
    }

    @media only screen and (max-width: 30em) {
      font-size: .2rem;
      text-align: center;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;

    @media only screen and (max-width: 46.87em) {
    font-size: 1.8rem;
    }
  }
}
