/*
COLORS

('NEW') CSS CUSTOM PROPERTIES | CSS VARIABLES

- can be manipulated in JavaScript
- can edit it devtools
- css variables cascade and can be inherited

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --box-shadow-very-light: 0 2rem 5rem rgba(0,0,0,.06);
  --box-shadow-light: 0 1rem 4rem rgba(0,0,0,.25);
  --box-shadow-dark: 0 2rem 5rem rgba(0,0,0,.3);
  --color-white: #fff;
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-light); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.magnifying-glass__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3); }

.bookmark__icon,
.chat__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2); }

.aircraft__icon,
.home__icon,
.key__icon,
.map__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: var(--color-grey-light-1); }

.star__icon,
.location-pin__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--box-shadow-dark);
  min-height: 50rem; }

.content {
  display: flex; }

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  .detail__description {
    font-size: 1.4rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-very-light);
    flex: 0 0 60%;
    margin-right: 4.5rem; }
  .detail__reviews {
    background-color: yellowgreen;
    flex: 1; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.magnifying-glass {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .magnifying-glass__input {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.5rem;
    padding: .7rem 2rem;
    width: 80%; }
    .magnifying-glass__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
      transition: all .2s; }
    .magnifying-glass__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .magnifying-glass__input:focus + .magnifying-glass__button {
    background-color: var(--color-grey-light-3); }
  .magnifying-glass__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .magnifying-glass__button:focus {
      outline: none; }
    .magnifying-glass__button:active {
      transform: translateY(2px); }

.hotel-view {
  flex: 1;
  background-color: var(--color-white); }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .overview__rating {
    align-items: center;
    align-self: stretch;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    padding: 0 2.25rem; }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300; }
  .overview .btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s; }
    .overview .btn-inline:hover {
      color: var(--color-grey-dark-1); }
    .overview .btn-inline:focus {
      outline: none;
      animation: pulsate 1s infinite; }

.navigation {
  align-self: stretch;
  align-items: center;
  display: flex;
  justify-content: center; }
  .navigation > * {
    cursor: pointer;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%; }
  .navigation > *:hover {
    background-color: var(--color-grey-light-2); }
  .navigation__icon-box {
    position: relative; }
  .navigation__notificaton {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    font-size: .8rem;
    height: 1.75rem;
    justify-content: center;
    position: absolute;
    width: 1.75rem;
    top: 1.5rem;
    right: 1.1rem; }
  .navigation__user-img {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .sidebar-nav__item {
    position: relative; }
    .sidebar-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .sidebar-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .sidebar-nav__item:hover::before, .sidebar-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .sidebar-nav__link:link, .sidebar-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
